<h2>Sign up</h2>

<h2>アカウントを作成</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: "ユーザー名" %>
  </div>

  <div class="field">
    <%= f.text_field :account, placeholder: "アカウントID" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(#{@minimum_password_length}文字以上)" %>
    <% end %><br />
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認)" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<a href="/users/sign_in">ログイン</a>

<style>
  body{
    text-align: center;
  }

  i{
    color: #00ACEE;
    font-size: 40px;
    margin-top: 20px;
  }

  h2{
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }

  input{
    width: 492px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .actions{
    margin: 0;
    padding: 0;
  }

  .actions input{
    color: #FFF;
    width: 508px;
    cursor: pointer;
    font-weight: bold;
    border: 0px solid #000;
    background-color: #00ACEE;
  }

  .actions input:hover{
    opacity: .7;
  }

  a{
    color: #FFF;
    font-weight: bold;
  }

  li{
    list-style: none;
  }
</style>
