<%# / .wrapper
/   = render '/layouts/sidebar', {icons: @icons}
/   .wrapper-right
/     textarea placeholder='今どうしてる？' class='tweet_input'
/     button class='tweet_submit' 送信
/     Tweet.all.order(created_at: :desc).each do |t|
/       .tweet t[:text]

/ script src="https://code.jquery.com/jquery-3.5.1.js"
/ script
/   $(document).on('click', '.tweet_submit', ()=>{
/       $.get({
/           url: '/tweets/create',
/           data: {tweet: {text: $('.tweet_input').val()}}
/       }).done(()=>{
/           $('.tweet_input').val("")
/       })
/   }) %>
<div class="wrapper">
    <%= render '/layouts/sidebar', {icons: @icons}%>
    <div class="wrapper-right">
        <div class="wrapper-right-top">
            <span class="wrapper-right-top-text">ホーム</span>
            <i class="wrapper-right-top-icon fas fa-lightbulb"></i>
        </div>
        <div class="wrapper-right-create">
            <div class="wrapper-right-create-left">
                <i class="fas fa-user"></i>
            </div>
            <div class="wrapper-right-create-right">
                <div class="wrapper-right-create-right-top">
                    <textarea placeholder="いまどうしてる？" class="tweet_input"></textarea>
                </div>
                <div class="wrapper-right-create-right-bottom">
                    <div class="wrapper-right-create-right-bottom-left">
                        <% ["image", "gift", "signal", "smile", "calendar-alt"].each do |c| %>
                            <i class="fas fa-<%= c %>"></i>
                        <% end %>
                    </div>
                    <div class="wrapper-right-create-right-bottom-right">
                        <div class="tweet_submit">ツイートする</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-right-tweets">
            <% Tweet.all.order(created_at: :desc).each do |t| %>
                <div class="wrapper-right-tweets-tweet">
                    <div class="wrapper-right-tweets-tweet-left">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="wrapper-right-tweets-tweet-right">
                        <div class="wrapper-right-tweets-tweet-right-top">
                            <%= link_to User.find(t.user_id).name, user_path(User.find(t.user_id).id), class: "wrapper-right-tweets-tweet-right-top-userName" %>
                            <span class="wrapper-right-tweets-tweet-right-top-userName"><%= User.find(t.user_id).name %></span>
                            <span class="wrapper-right-tweets-tweet-right-top-userId"><%= User.find(t.user_id).account %></span>
                            <span class="wrapper-right-tweets-tweet-right-top-time">・<%=time_ago_in_words(t.created_at)%></span>
                        </div>
                        <div class="wrapper-right-tweets-tweet-right-middle">
                            <%=t[:text]%>
                        </div>
                        <div class="wrapper-right-tweets-tweet-right-bottom">
                            <i class="far fa-comment"><span class="rep-num">0</span></i>
                            <i class="fas fa-retweet"><span class="ret-num">0</span></i>
                            <i class="far fa-heart"><span class="hea-num">0</span></i>
                            <i class="far fa-share-square"></i>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    $(document).on('click', '.tweet_submit', ()=>{
        $.get({
            url: '/tweets/create',
            data: {tweet: {text: $('.tweet_input').val()}}
        }).done((res)=>{
            $('.tweet_input').val('')
            $('.tweet_submit').removeClass('active')
            if(res.text.text){
                $('.wrapper-right-tweets').prepend(`
                    <div class="wrapper-right-tweets-tweet">
                        <div class="wrapper-right-tweets-tweet-left">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="wrapper-right-tweets-tweet-right">
                            <div class="wrapper-right-tweets-tweet-right-top">
                                <a class="wrapper-right-tweets-tweet-right-top-userName" href="/users/${res.user.id}">${res.user.name}</a>
                                <span class="wrapper-right-tweets-tweet-right-top-userName">${res.user.name}</span>
                                <span class="wrapper-right-tweets-tweet-right-top-userId">${res.user.account}</span>
                                <span class="wrapper-right-tweets-tweet-right-top-time">・less than a minute</span>
                            </div>
                            <div class="wrapper-right-tweets-tweet-right-middle">
                                ${res.text.text}
                            </div>
                            <div class="wrapper-right-tweets-tweet-right-bottom">
                                <i class="far fa-comment"><span class="rep-num">0</span></i>
                                <i class="fas fa-retweet"><span class="ret-num">0</span></i>
                                <i class="far fa-heart"><span class="hea-num">0</span></i>
                                <i class="far fa-share-square"></i>
                            </div>
                        </div>
                    </div>
                `)
            }
        })
    })
    let textarea = $('.tweet_input')
    let lineHeight = textarea.height()
    textarea.on('input', ()=>{
        if(textarea.val().length){
            $('.tweet_submit').addClass('active')
        } else {
            $('.tweet_submit').removeClass('active')
        }
        let lines = (textarea.val() + '\n').match(/\n/g).length
        textarea.height(lineHeight * lines)
    })
</script>
